---
- name: Update Homebrew
  homebrew: update_homebrew=yes
  when: mac_homebrew_update
  changed_when: false

- name: Upgrade Hombrew packages
  homebrew: upgrade_all=yes
  when: mac_homebrew_upgrade
  changed_when: false

- name: Link Brewfile
  file:
    src: "{{ dotfiles_home }}/roles/mac/files/Brewfile.link"
    dest: "{{ ansible_env.HOME }}/Brewfile"
    state: link
    force: yes
    follow: no

- name: Check if Brewfile contains updates
  shell: brew bundle check --file="{{ ansible_env.HOME }}/Brewfile"
  register: bundle_check_result
  ignore_errors: true
  changed_when: false

- name: Install apps using Brewfile
  shell: brew bundle install --file="{{ ansible_env.HOME }}/Brewfile"
  when: bundle_check_result is failed and mac_install_apps_from_brewfile

- import_tasks: link-shell-configs.yml
